@import url("color-palette.css");
@import url("button.css");
@import url("feature-cards.css");

header {
    margin-top: 1rem;
    text-align: center;
}

.tenacity-logo {
    height: 51px;
}

.screenshot {
    width: 90%;
    border-radius: 5px;
}

body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 60rem;
}

h2 {
    text-align: center;
}

p {
    max-width: 40rem;
    margin: 1rem auto;
    line-height: 160%;
    padding: 0 1rem;
}

a:link, a:visited {
    color: var(--color-on-background-link);
    text-decoration: underline;
}
a:visited {
    color: var(--color-on-background-link-visited);
}
a:hover, a:focus {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
}

pre {
    font-size: 12px;
}

footer {
    padding: 1rem;
    border-top: 1px dotted var(--color-on-background);
}
